<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <!-- screamIt is a function and after the space is the args -->
        <p>{{welcomeMessage}}</p>

        {{> footer}}
    </body>
</html>
